<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="database.js" defer></script>
    <script src="app.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div id="vue-app">
        <div class="container">
            <div id="main-left">
                <div id="my-profile">
                    <img src="img/avatar_io.jpg" alt="Sofia" class="img-icon">
                    <span>Sofia</span>
                </div>
                <div id="chat">
                    <div v-for="(contact,index) in contacts" @click="setActive(index)">
                        <img :src="getSrc(contact)" :alt="contact.name" class="img-icon" />
                        {{contact.name}}
                        <p>Ultimo messaggio</p>
                    </div>
                </div>
            </div>
            <div id="main-right">
                <div v-if="activeIndex !== null">
                    <div id="meain-header">
                        <img :src="getSrc(contacts[activeIndex])" :alt="contacts[activeIndex].name" class="img-icon">
                        {{contacts[activeIndex].name}}
                    </div>
                    <div id="main-messages">
                        <div v-for="msg in contacts[activeIndex].messages" :class="status(msg)">
                            {{msg.message}}
                            {{msg.date}}
                        </div>
                    </div>
                    <div id="main-footer">
                        <input type="text" v-model="inputText" @keyUp.enter="sendMsg(contacts[activeIndex].messages)">
                    </div>
                </div>
                <div v-else>
                    <p>Nessun messaggio da visualizzare</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>