* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #dcdedc;
}

#head-banner {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #00a884;
    z-index: -1;
}

.container {
    position: relative;
    top: 50px;
    margin: auto;
    width: 80%;
    height: 90vh;
    background-color: white;
    display: flex;
    border: 1px solid #cbd3d8;
}

#main-left {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#main-left-info {
    background-color: #f0f2f5;
    position: absolute;
    width: 35%;
    height: 100%;
    color: #54656f;
}

#info-head {
    background-color: #008069;
    height: 110px;
    display: flex;
    color: white;
    align-items: flex-end;
    padding-bottom: 30px;
}

#info-head i {
    font-size: 20px;
    margin: 0 30px;
}

#info-profile {
    display: flex;
    flex-direction: column;
}

#profile-img-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#profile-img-info img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#profile-name-info {
    padding: 30px;
    background-color: white;
}

#profile-name-info p {
    margin: 10px 0;
}

#profile-name-info p:first-child {
    color: #008069 !important;
    font-size: 13px;
    margin-bottom: 25px;
}

#other-info {
    padding: 30px;
    font-size: 15px;
}

#profile-info {
    padding: 30px;
    background-color: white;
}

#profile-info p:first-child {
    color: #008069 !important;
    font-size: 13px;
    margin-bottom: 25px;
}

.fa-arrow-left {
    cursor: pointer;
}

#my-profile {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 60px;
    background-color: #f0f2f5;
}

#img-profile img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#icon-profile {
    display: flex;
    font-size: 20px;
    column-gap: 30px;
    align-items: center;
    padding-right: 30px;
    color: #54656f;
}

#notification {
    background-color: #8edafc;
    display: flex;
    height: 70px;
    padding: 10px;
    align-items: center;
}

#bell {
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    color: #8edafc;
    margin: 0 20px 0 10px;
}

#not-info p {
    font-size: 15px;
    font-weight: 600;
}

#not-info a {
    color: #54656f;
    font-size: 14px;
}

#search {
    padding: 10px;
}

#search-bar {
    color: #54656f;
    background-color: #f0f2f5;
    padding: 10px;
    display: flex;
    border-radius: 10px;
}

#search-bar input {
    margin-left: 20px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #f0f2f5;
}


.img-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#chats {
    background-color: #f0f2f5;
    overflow-y: auto;
    flex-grow: 1;
}

.contact {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.contact:hover {
    background-color: #dee1e4a1;
}

.contact-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-name {
    font-size: 20px;
    color: #111b21;
}

.c-msg {
    font-size: 12px;
    color: #8696a0;
}

#main-right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-header {
    border-left: 1px solid #d1d7db;
    display: flex;
    padding: 10px;
    height: 60px;
    background-color: #f0f2f5;
    align-items: center;
}

#active-img img {
    width: 40px;
    height: 40px;
}

#active-name {
    flex-grow: 1;
    margin-left: 10px;
    color: #8696a0af;
    cursor: pointer;
}

#main-head-icon {
    display: flex;
    font-size: 20px;
    column-gap: 30px;
    align-items: center;
    padding-right: 30px;
    color: #54656f;
    position: relative;
}

#main-head-icon .fa-ellipsis-vertical:hover {
    background-color: #d2dbe0;
    transition: 300ms;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
}

#closer {
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 100;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#main-messages {
    display: flex;
    flex-direction: column;
    padding: 30px 70px;
    background-image: url("img/mine.jpg");
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
}

#main-messages .message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    min-width: 40%;
    position: relative;
}

#main-messages .message i {
    position: absolute;
    top: 3px;
    right: 10px;
    display: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
    color: #54656f;
}

#main-messages .message:hover i {
    display: block;
}

.info-box {
    position: absolute;
    top: 30px;
    right: 25px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
}

.info-box p {
    margin: 10px 0;
}

.info-box p:hover {
    background-color: rgba(202, 202, 202, 0.404);
}

.msg-sent {
    background-color: #d9fdd3;
    align-self: flex-end;
}

.msg-received {
    background-color: white;
    align-self: flex-start;
}

.msg-text {
    margin-bottom: 5px;
    margin-right: 20px;
}

.msg-date {
    font-size: 10px;
    text-align: end;
}

#main-footer {
    display: flex;
    height: 70px;
    align-items: center;
    padding: 0 20px;
    background-color: #f0f2f5;
}

.foot-icon {
    font-size: 20px;
}

.foot-icon i {
    color: #54656f;
    margin: 0 10px;
}

#send-msg {
    flex-grow: 1;
    margin: 0 20px;
}

#send-msg input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
}

.d.none {
    display: none;
}

.d-block {
    display: block;
}

#main-messages::-webkit-scrollbar,
#chats::-webkit-scrollbar {
    width: 7px;
}

#main-messages::-webkit-scrollbar-thumb,
#chats::-webkit-scrollbar-thumb {
    background-color: #ced0d1;
}

.active {
    background-color: #c5c5c5a1 !important;
}

#main-no-message {
    background-color: #f8f8f8;
    width: 65%;
    height: 100%;
    display: flex;
}

#no-msg-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #54656f;
}

#no-msg-container p {
    font-size: 14px;
    margin: 10px 0;
}